.pane {
    -fx-background-color: #1d1d1d;
}

.button {
    -fx-background-color: #2d445c;
    -fx-text-fill: white;
}

.text-input {
    -fx-background-color: #2d445c;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15pt;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #2d445c;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.combo-box .cell {
    -fx-background-color: #2d445c;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.text-area {
    -fx-background: #2d445c;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

